<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <img class="HPlogo" src="/assets/HuffPostLogo.svg">
    <h1 class="display-4">The Scraped Edition</h1><br>
    <button id="saved" class="btn btn-outline-light">See Saved Articles</button>
    <button id="scrape" class="btn btn-outline-light">Click to get the latest news!</button>
  </div>
</div>



<div class="row">
    <div class="col-md-12" id="mainSection">
        <ul class="list-group">
            {{#each articles}}
            <li class="list-group-item">
                <div>
                    <p class="articleArea"><a class="articleTitle" id="{{articleId}}" href="https://www.huffingtonpost.com/{{this.link}}" target="_blank">{{this.title}}</a></p>
                    <p>
                      <button class="btn btn-outline-dark btn-sm saveArticle" id="saveArticle-{{articleId}}">Save article</button>
                      <span id="noteBtnArea-{{articleId}}" class="noteBtnArea">
                      <button type="button" class="btn btn-outline-dark btn-sm addNote" id="addNote-{{articleId}}" data-toggle="modal" data-target="#addNoteModal">Add Note</button>
                      <button type="button" class="btn btn-outline-dark btn-sm seeNotes" id="seeNotes-{{articleId}}"  data-toggle="modal" data-target="#seeNotesModal">See Notes</button>
                      </span>
                    </p>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<!-- Modal -->
<div id="seeNotesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal-title" class="modal-title"></h4>
            </div>
            <div id="seeNotesBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="addNoteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <label for="noteTitle" class="col-form-label">Note Title</label>
                    <input type="text" class="form-control" id="noteTitle">
                  </div>
                  <div class="form-group">
                    <label for="noteBody" class="col-form-label">Note:</label>
                    <textarea class="form-control" id="noteArea"></textarea>
                  </div>
              </div>
              <div class="modal-footer">
                <button id="saveNote" type="button" class="btn btn-outline-dark btn-sm saveNote" data="">Save Note</button>
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


    </div>
</div>

<script src="/scripts/scrape.js"></script>
