<div id="header" class="row text-center">
    <div class="col-md-12">
        <h1>Scrapy McScraper</h1>
        <h4>New York Times: US Section</h4>
        <button id="scrape" class="btn btn-info btn-lg">Want to read depressing sh*t?</button> <br><br>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="mainSection">
        <ul class="list-group">
            {{#each articles}}
            <li class="list-group-item">
                <div>
                    <p class="articleArea"><a id="{{articleId}}" href="{{this.link}}">{{this.title}}</a></p>
                    <p>
                        <button class="btn btn-info saveArticle" id="saveArticle-{{articleId}}">Save article</button>
                        <span id="noteBtnArea-{{articleId}}" class="noteBtnArea">
                      <button type="button" class="btn btn-info btn-sm addNote" id="addNote-{{articleId}}" data-toggle="modal" data-target="#addNoteModal">Add Note</button>
                      <button type="button" class="btn btn-info  btn-sm seeNotes" id="seeNotes-{{articleId}}"  data-toggle="modal" data-target="#seeNotesModal">See Notes</button>
                      </span>
                    </p>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<!-- Modal -->
<div id="seeNotesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal-title" class="modal-title"></h4>
            </div>
            <div id="seeNotesBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="addNoteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a Note</h4>
            </div>
            <div id="addNoteBody" class="modal-body">
                <label>Title</label><br /><input id="noteTitle" type="text" placeholder="Enter a title for the note"></input>
                <label>Text</label><br /><textarea id="noteArea" name="textarea" placeholder="Text goes here"></textarea>
            </div>
            <div class="modal-footer">
                <button id="saveNote" type="button" class="btn btn-info btn-sm saveNote" data="">Save Note</button>
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="/scripts/scrape.js"></script>
